@import "../../variables.scss";

:host {
  display: flex;
}

.text {
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  &.title {
    font-size: 1.8rem;
    font-weight: 600;
  }

  &.label {
    font-size: 0.8rem;
  }

  &.white {
    color: $white;
  }

  &.black {
    color: $black;
  }

  &.red {
    color: $red;
  }

  &.green {
    color: $green;
  }
}
