@import "../../variables.scss";

:host {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $space-quarter $space-half;
  gap: $space-quarter;
  border-radius: $border-radius;
  transition: all 0.2s ease-in-out;

  &:active {
    scale: 0.95;
  }

  &.white {
    background-color: $black;
    border: 1px solid darken($white, 40%);

    &:hover {
      border-color: $white;
    }
  }

  &.black {
    background-color: $white;
    border: 1px solid lighten($black, 40%);

    &:hover {
      border-color: $black;
    }
  }
}
