<form [class]="forgotPasswordFormClass()" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <app-form-element [formField]="emailFormField">
    <app-string-input variant="email" placeholder="Email" formControlName="email" iconLeft="email" />
  </app-form-element>
  <div class="forgot-password-form-links">
    <app-link content="I want to log in" routerLink="/login" />
    <app-link content="I don't have an account" routerLink="/register" />
  </div>
  <app-button [disabled]="!forgotPasswordForm.valid">
    <app-text content="Register" />
  </app-button>
</form>
